<%- include("partials/header.ejs")%>
<div class="hero mt-5 mb-5">
    <div class="container-lg">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5"> 
            <div class="col-10 col-sm-8 col-lg-6"> 
                <img src="/images/hero_image.png" class="d-block mx-lg-auto img-fluid image" alt="Bootstrap Themes" width="700" height="500" loading="lazy"> 
            </div> 
            <div class="col-lg-6"> 
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-4">Unleash Your Voice. Share Your Stories.</h1> 
                <p class="lead">BlogCentral empowers you to create, share, and connect through the power of words. Join a community where every story finds its audience.</p> 
                <div class="d-grid gap-2 d-md-flex justify-content-md-start"> 
                    <!-- <button type="button" class="btn btn-primary btn-lg px-4 me-md-2"></button>  -->
                    <a href="/create" class="btn btn-primary btn-lg px-4 me-md-2">Create Your First Post</a>
                </div> 
            </div> 
        </div>
    </div>
</div>

<div class="mb-5 pb-5">
    <div class="container">
        <h2 class="fw-bold mt-5 mb-5 text-center">Recent posts</h2>
        <div class="row gx-5 justify-content-center mb-5">
            <div class="col-auto">
                <div class="card h-100" style="width: 18rem;">
                    <img src="/images/card_img1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">The Art of Mindful Writing</h5>
                        <p class="card-text mb-4">Discover how incorporating mindfulness into your writing routine can unlock creativity and reduce stress. Learn simple techniques to stay</p>
                        <a href="#" class="card-link">Read More 📖</a>
                    </div>
                </div>                
            </div>
            <div class="col-auto">
                <div class="card h-100" style="width: 18rem;">
                    <img src="/images/card_img2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Mastering React Hooks: A Deep Dive</h5>
                        <p class="card-text">Unlock the full potential of React Hooks with this comprehensive guide. From useState to useContext, we cover best practices and</p>
                        <a href="#" class="card-link">Read More 📖</a>
                    </div>
                </div>                
            </div>
            <div class="col-auto">
                <div class="card h-100" style="width: 18rem;">
                    <img src="/images/card_img3.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">The Future of Remote Work</h5>
                        <p class="card-text">Explore the evolving landscape of remote work, from effective communication strategies to fostering team cohesion across geographical</p>
                        <a href="#" class="card-link">Read More 📖</a>
                    </div>
                </div>                
            </div>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-auto">
                <div class="card h-100" style="width: 18rem;">
                    <img src="/images/card_img4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Travel Smarter: Essential Tips for Digital Nomads</h5>
                        <p class="card-text">Embark on your digital nomad journey with confidence. This guide covers everything from finding reliable Wi-Fi to managing your finances</p>
                        <a href="#" class="card-link">Read More 📖</a>
                    </div>
                </div>                
            </div>
            <div class="col-auto">
                <div class="card h-100" style="width: 18rem;">
                    <img src="/images/card_img5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Investing Basics: Starting Your Financial Journey</h5>
                        <p class="card-text">Demystify the world of investments. Learn about stocks, bonds, and mutual funds, and how to build a diversified portfolio for long-term</p>
                        <a href="#" class="card-link">Read More 📖</a>
                    </div>
                </div>                
            </div>
            <div class="col-auto">
                <div class="card h-100" style="width: 18rem;">
                    <img src="/images/card_img6.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">The Power of Storytelling in Content Creation</h5>
                        <p class="card-text">Captivate your audience with compelling narratives. Discover the principles of effective storytelling and how to weave them into your</p>
                        <a href="#" class="card-link">Read More 📖</a>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>
    <!-- <div class="big-title">
        <h1 class="text-center"><em>Share Your Stories with the World</em></h1>
    </div> -->

    
<%- include("partials/footer.ejs")%>